<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032802393519-2eud8c81vpcd1c2sagm768q09mmoen4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032802393519-2eud8c81vpcd1c2sagm768q09mmoen4u</string>
	<key>API_KEY</key>
	<string>AIzaSyBUm9Tld3WzFTXxGzIlSVGMeL5W_ndbG0k</string>
	<key>GCM_SENDER_ID</key>
	<string>1032802393519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.denys-triasunov.AuthenticationDemo</string>
	<key>PROJECT_ID</key>
	<string>authenticationdemo-f852f</string>
	<key>STORAGE_BUCKET</key>
	<string>authenticationdemo-f852f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032802393519:ios:beb6de8687636e1ac6e35a</string>
</dict>
</plist>